<!DOCTYPE html>
<html ng-app="miApp" ng-controller="miController as vm">
<head>
	<meta charset="UTF-8">
	<title>Hola mundo con eclipse</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.js"></script>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

	<!-- Optional theme -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="estilo.css">
	<script type="text/javascript" src="codigo.js"></script>
</head>
<body>
	<h1>Hola</h1>
	
	<input type="text" placeholder="Introduce tu nombre" maxlength="10" id="txtNombre" data-ng-model="vm.nombre"/>
	<div class="alert alert-info">
	<strong>Atención </strong><span>Tu nombre es {{vm.nombre}}</span>
	</div>
	<button ng-click="vm.saludar()">Saludar</button>
	<a class="link" href="http://exprimeandroid.com">El autor es</a>
	
</body>
</html>
